<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net "/>
	</configSections>
	<log4net>
		<appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
			<file value="C://Log//log.json" />
			<layout type="DevFramework.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
		</appender>
		<logger name="DatabaseLogger">
			<level value="All" />
			<appender-ref ref="AdoNet" />
		</logger>

		<appender name="AdoNet" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="data source=DESKTOP-ORJD9N6\SQLEXPRESS;initial catalog=NORTHWND;integrated security=true;" />
			<commandText value="INSERT INTO Logs ([Date],[Level],[Message]) VALUES (@log_date, @log_level, @message)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="DevFramework.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
		</appender>
		<logger name="JsonFileLogger">
			<level value="ALL" />
			<appender-ref ref="JsonFileAppender" />
		</logger>
	</log4net>
</configuration>